<h1>Listing save_credentials</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @save_credentials.each do |save_credential| %>
      <tr>
        <td><%= link_to 'Show', save_credential %></td>
        <td><%= link_to 'Edit', edit_save_credential_path(save_credential) %></td>
        <td><%= link_to 'Destroy', save_credential, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Save credential', new_save_credential_path %>
